{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reservations</title>
    <link type="text/css" rel="stylesheet" href="{% static 'rental/css/reservations.css' %}"/>
  </head>

  <body>
    <div class="container">
      <h1>Reservations</h1>

      <table>
        <thead>
          <tr>
            <th>Rental Name</th>
            <th>ID</th>
            <th>Checkin</th>
            <th>Checkout</th>
            <th>Previous Reservation's ID</th>
          </tr>
        </thead>
        <tbody>
          {% for reservation in object_list %}
            <tr>
              <td>{{ reservation.rental.name }}</td>
              <td>{{ reservation.id }}</td>
              <td>{{ reservation.checkin }}</td>
              <td>{{ reservation.checkout }}</td>
              <td>
                {% if reservation.previous_reservation %}
                  {{ reservation.previous_reservation.id }}
                {% else %}
                  N/A
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if paginator.num_pages > 1 %}
        <div id="pagination">
          <div class="previous">
            {% if page_obj.number > 1 %}
              <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
            {% else %}
              <span>&nbsp;</span>
            {% endif %}
          </div>
          <span>{{ page_obj.number }} / {{ paginator.num_pages }}</span>
          <div class="next">
            {% if page_obj.number < paginator.num_pages %}
              <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
            {% else %}
              <span>&nbsp;</span>
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  </body>
</html>
